<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729957319231-5n4mgj38g1gfvci88laf51pr0pd64snr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729957319231-5n4mgj38g1gfvci88laf51pr0pd64snr</string>
	<key>API_KEY</key>
	<string>AIzaSyB7MYubRakPBvcxB7h-BUjq9lxI5FOVdyA</string>
	<key>GCM_SENDER_ID</key>
	<string>729957319231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yokkoapp.tvchat.staging</string>
	<key>PROJECT_ID</key>
	<string>hoshizora51-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>hoshizora51-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729957319231:ios:683f407de17040635aee8a</string>
	<key>DATABASE_URL</key>
	<string>https://hoshizora51-dev-default-rtdb.firebaseio.com</string>
</dict>
</plist>