<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Property List.plist
   TVChat-app

   Created by Satoshi Yokokawa on 2021/06/18.
   Copyright (c) 2021 Satoshi Yokokawa. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
